@model Mvc4Architecture.Models.PersonTdVM
<tr>
    <td>
        @Ajax.ActionLink(Model.Person.FirstName, "PersonDetails", new { id = Model.Person.Id }, new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "personDetails"
                    })
    </td>
    <td>
        @Html.DisplayFor(model => model.Person.LastName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Person.HomeTown)
    </td>
    <td>
        @Html.Label("Addresses", Model.AddressCount.ToString(), new { title = Model.AddressTitleString, @class = "pntr" }); 
    </td>
</tr>
