<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perRequest" type="Mvc4Architecture.Web.UnityExtensions.UnityHttpContextPerRequestLifetimeManager, Mvc4Architecture" />
  </typeAliases>
  <containers>
    <container name="container">
      <types>
        <type type="Data.IUnitOfWork, Data" mapTo="Data.Sql.PersonDbContext, Data.Sql">
          <lifetime type="perRequest" />
        </type>
        <type type="Data.Base.IRepositoryInitializer, Data" mapTo="Data.Sql.Base.RepositoryInitializer, Data.Sql">
          <lifetime type="perRequest" />
        </type>
        <type type="Data.IPersonRepository, Data" mapTo="Data.Sql.Repositories.PersonRepository, Data.Sql">
          <lifetime type="perRequest" />
        </type>
        <type type="DomainModel.Abstract.IPersonHandler, DomainModel" mapTo="DomainModel.Handlers.PersonHandler, DomainModel">
          <lifetime type="perRequest" />
        </type>
      </types>
    </container>
  </containers>
</unity>
